{{ view App.newEntryView}}
<ul>
	{{#each controller	}}
	<li>
		{{name}}: {{description}} 
		{{#with this as model}}
		<button {{ action 'deleteRecipe' this}}>delete</button>
		{{/with}}
	</li>
	{{/each}}
</ul>
